@import '~antd/dist/antd.css';
/* @import '~slick-carousel/slick/slick.css'; 
@import "slick-carousel/slick/slick-theme.css"; */

.site-card-wrapper {
  padding: 30px;
  background: #ececec;
}
.App {
  text-align: center;
  width: -webkit-fill-available;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.bg-light {
  background-color: #141414!important;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 62px;
  width: 100%;
  background-color: #ccc;
}

.navbar-brand {
  color: white;
}
.nav-link {
  color:white !important;
}
.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
  background: none;
  border: none !important;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  color: white;
}
.form-control.me-2 {
  background: none !important;
  border: none !important;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  color: white;  
}
.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.logo-h {
  display: inline-block;
}
.signin {
  background: none;
  border: none;
}
.top-rest {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;  
}
.pop-rest {
  display: flex;
  width: 100%;
  gap: 5px;
  margin-bottom: 15px;
}
.col-auto {
  text-align: left;
}
.text-left {
  text-align: left !important;
}
h1 {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0 15px;  
}
.fot-log {
  width: 90px;
}
.input-group {
  width: 80%;
}
.nav-email {
  background-color: white !important;
}
.btn-dropdown {
  background-color: #212529 !important;
  border: none;  
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: none !important;
}
.list-dropdown {
  color: white;
  border: none;  
}
.dropdown-item {
  color: white;
}
.dropdown-item:hover {
  background-color: none !important;
}
.swiper {
  margin: 15px 50px 15px 50px !important;
}
.swiper-slide {
  width: 280px !important;
  margin-right: 20px !important;
}
.slide-content {
  margin: 0px 0px 0px 44px
}
.card-image {
  width: 270px;
  cursor: pointer;
}
.swiper-button-prev {
  right: -3px;
}
.card-image:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 769px) {
  #root {
    width: 100%;
    overflow-x: hidden;
  }
}